<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.shiki.mapper.FoodOrderMapper">
    <insert id="add">
        insert into food_order
        values (#{orderNum}, #{totalPrice}, now(), 1, #{userId})
    </insert>
    <update id="update">
        update food_order
        set status = #{status}
        where order_num = #{orderNum}
    </update>
    <select id="queryByOrderNum" resultType="org.shiki.entity.FoodOrder">
        select order_num, status
        from food_order
        where order_num = #{orderNum}
    </select>
</mapper>