<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.shiki.mapper.KillOrderMapper">
    <insert id="add">
        insert into kill_order
        values (#{killOrderNum}, #{userId}, #{addressId}, #{price}, 1, now(), 1, #{bookId})
    </insert>
    <select id="queryByOrderNum" resultType="org.shiki.entity.KillOrder">
        select *
        from kill_order
        where kill_order_num = #{orderNum}
    </select>
</mapper>