<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.shiki.mapper.OrderMapper">
    <insert id="add">
        insert into `order`
        values (#{orderNum}, #{totalPrice}, #{userId}, #{addressId}, now(), 1, -1)
    </insert>

    <update id="update">
        update `order`
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
        </set>
        where order_num = #{orderNum}
    </update>

    <select id="queryOrder" resultType="org.shiki.entity.Order">
        select order_num, total_price, create_time, status, score
        from `order`
        where user_id = #{userId}
        <if test="orderNum != null">
            and order_num like concat('%', #{orderNum}, '%')
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        order by create_time desc
    </select>
</mapper>